@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
}

div.elem-group {
    margin: 10px 0;
}

div.elem-group.inlined {
    width: 70%;
    display: inline-block;
    margin-left: 1%;
}

label {
    display: block;
    font-family: 'Nanum Gothic', sans-serif; /* Added generic font family */
    padding-bottom: 10px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic', sans-serif; /* Added generic font family */
    width: 100%;
    padding: 10px;
}

div.elem-group.inlined input {
    width: 141%;
    display: inline-block;
}

textarea {
    height: 250px;
}

hr {
    border: 1px dotted #ccc;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic', sans-serif; /* Added generic font family */
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}
