<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Booking</title>
</head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand ">RFR Intersystem Co.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{url_for('home')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('booking')}}" class="nav-link">Book Now</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('about')}}" class="nav-link">About Us</a>
                </li>  
                
                <li class="nav-item">
                    <a href="{{url_for('login')}}" class="nav-link">Login</a>
                </li> 
            </ul>
            </div>
        </div>
    </nav>
    <section class="bg-dark text-white p-5 text-center text-sm-start">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card" style="width: 22rem; height: 36rem">
              <img src="/static/ConfRoom.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Conference Room</h5>
                <p class="card-text">A comprehensive package that includes high-quality audio-visual equipment such
                as projectors, screens, sound systems, microphones, and interactive whiteboards for
                presentations, training sessions, workshops, and seminars</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item lead">70 persons</li>
                <li class="list-group-item lead">₱850/hr</li>
                <button type="button" class="btn btn-primary btn-md" id="btn1">Book Now!</button>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="card" style="width: 22rem; height: 36rem">
              <img src="/static/lit.jpg" class="card-img-top" style="height: 199px" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Little Theater</h5>
                <p class="card-text">A complete package that offers a fully equipped little theater setup with
                  comfortable seating, stage lighting, sound systems, and projection capabilities. This
                  package is suitable for small-scale performances, film screenings, and presentations</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item lead">15 persons</li>
                <li class="list-group-item lead">₱550/hr</li>
                <button type="button" class="btn btn-primary btn-md" id="btn2">Book Now!</button>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="card" style="width: 22rem; height: 36rem">
              <img src="/static/AVR.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Audio Visual Room</h5>
                <p class="card-text">An integrated technology suite that transforms conference rooms into modern
                  collaboration spaces. It includes video conferencing systems, high-definition displays,
                  wireless presentation solutions, and advanced room control systems for seamless
                  meetings and discussions.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item lead">20 persons</li>
                <li class="list-group-item lead">₱650/hr</li>
                <button type="button" class="btn btn-primary btn-md" id="btn3">Book Now!</button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      document.getElementById("btn1").onclick = function () {
          location.href = "{{url_for('conf')}}";
      };
      document.getElementById("btn2").onclick = function () {
          location.href = "{{url_for('ltheater')}}";
      };
      document.getElementById("btn3").onclick = function () {
          location.href = "{{url_for('avr')}}";
      };
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    <footer class="p-2 bg-dark text-white text-center position-relative"><div class="container"><p class="lead">Copyright &copy; 2023 ITCC33</p>
    </div></footer>
</html>